@import "_var.less";

* {
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  // p {
  //   font-weight: 400;
  //   line-height: 30px;
  //   font-size: 16px;
  // }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    //color: white;
    font-family: p-yek, sans-serif, tahoma;
    margin: 0;
  }

  a,
  a:hover,
  a:focus {
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    outline: none;
  }

  ol,
  ul {
    margin: 0;
    padding: 0;
  }

  ol li,
  ul li {
    list-style: outside none none;
    list-style-type: none;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-indent: 1px;
    text-overflow: "";
  }

  .padding-none {
    padding: 0px;
  }

  .padding-right {
    padding-right: 0px;
  }

  .padding-left {
    padding-left: 0px;
  }

  .ml-15 {
    margin-left: 15px;
  }

  /**/
  .btn-default-style {
    background: #43d796;
    border-radius: 50px;
    color: #ffffff;
    height: 55px;
    line-height: 55px;
    padding: 0 50px;
    font-size: 14px;
    margin-top: 40px;
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
  }

  .btn-default-style:hover {
    color: #ffffff;
  }

  .gradient-color span {
    background-image: linear-gradient(to bottom, #9982ed 0%, #f879b6 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  /*navbar styles*/
  nav {
    position: fixed;
    width: 100%;
    padding: 25px 0 0;
    z-index: 999;
    background: rgb(55, 0, 254);
    background: linear-gradient(3deg,
        rgba(55, 0, 254, 1) 0%,
        rgba(130, 68, 217, 1) 91%,
        rgba(87, 34, 166, 1) 100%);
  }

  .stickyClass {
    position: sticky;
    top: 0 !important;
  }

  .fixedClass {
    position: fixed;
    background: rgb(55, 0, 254);
    background: linear-gradient(3deg,
        rgba(55, 0, 254, 1) 0%,
        rgba(130, 68, 217, 1) 91%,
        rgba(87, 34, 166, 1) 100%);
    transition: ease-in-out 1s;
    padding-top: 10px;
    margin-top: auto;
    top: 0 !important;
  }

  .navBrand {
    padding: 25px 0;
  }

  .spacer {
    flex: 1;
  }

  nav ul {
    display: flex;
    flex-direction: row;
  }

  nav ul li {
    padding: 30px 0;
    font-size: 15px;
    color: white;
  }

  nav ul li {
    margin-right: 30px;
  }

  nav ul li:last-child {
    margin-right: 0px;
  }

  nav ul li a {
    padding: 30px 0px;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
  }

  nav ul li a.active,
  nav ul li a:hover {
    color: #43d796;
  }

  .token {
    background: #00e9fe;
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    color: #ffffff;
  }

  .token:hover {
    background: #007bff;
    color: #ffffff;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


  /* end navbar styles */
  @media only screen and(max-width:945px) {
    .earning-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
      text-align: center;
    }

    .earning-wrapper .single-earning {
      width: 90%;
      padding-bottom: 2rem;
    }

    .earning-wrapper .single-earning .earning-title img,
    .earning-wrapper .single-earning .earning-title h2 {
      text-align: center;
      margin: 0 auto;
      justify-content: center;
    }
  }

  @media only screen and (max-width: 767px) {
    .services .single-items {
      margin-left: 0;
    }

    #header .intro-text {
      margin-top: 140px;
      padding: 0 24px 0 0;
    }

    .footersec {
      width: 100% !important;
    }

    .footersec>p {
      color: #a2b2ff;
      width: 95%;
      font-size: 17px !important;
      text-align: right;
    }

    .pricingCharts:before {
      content: none;
    }

    .news .title-wrapepr:before,
    .news .title-wrapepr:after {
      content: none;
    }

    .navbar {
      display: none;
    }

    .imgteam {
      display: none;
    }

    #header #headerhome {
      justify-content: center;
    }

    #header .intro-img {
      display: none;
    }

    .services .single-items:last-of-type {
      margin-bottom: 1rem;
    }

    .news .single-blog-wrapper .single-blog {
      margin-bottom: 3rem;
    }

    #faqsec img {
      margin: 0 auto;
    }

    footer {
      background: url("../images/bg-img/banner-02.png");
      height: auto;
      padding-right: 2rem;

      p {
        color: white !important;
        font-size: 22px !important;
      }

      .footersec1 {
        margin-top: 1rem;
      }
    }

    /*MAIN BLOG IN BLOG PAGE*/
    .main-blog {
      margin: 5px auto !important;
    }

    .blog-post-wrapper {
      display: flex;
      flex-direction: column-reverse;
    }

    .copyright p {
      font-size: 16px !important;
      margin: 0;
      padding: 30px 0;
      border: none;
      line-height: 18px;
      text-align: center;
      font-weight: lighter;
      color: #a4acc4 !important;
    }

    /*.earning-wrapper {
      background: #ffffff;
      box-shadow: 0 0 80px 0px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      padding: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-between;
    }*/
  }

  @media only screen and (min-width: 768px) {
    .resnav {
      display: none;
    }

    #header #headerhome {
      justify-content: center;
    }

    #Contactus .footersec {
      width: 75% !important;
    }

    .blog {
      margin: 15px auto;
    }
  }

  @media (min-width: 400px) and (max-width: 1050px) {
    #header .intro-text {
      margin-top: 80px !important;
      padding: 0 auto;
    }

    .token {
      display: none;
    }

    .team>div>.imagesSec>img {
      display: none;
    }
  }

  @media (min-width: 1050px) and (max-width: 1280px) {
    .team .imagesSec {
      position: relative;
      bottom: 4.2rem;
    }
  }

  /* Blog Responsive */
  @media only screen and (max-width: 770px) and (min-width: 446px) {
    .blog {
      max-width: 100% !important;
    }

    #singleBlog {
      max-width: 50%;
      margin: 0 auto;
    }

    // #singleBlog .blog-img .player .custom-class {
    //   right: 12rem;

    // }

  }
  /*header main post styles*/
  .section  {
    border-radius:10px;
    }
    .section:hover{
        cursor: pointer;
    }
    .section{
        position: relative;
    }
    .section .section-text{
        position: absolute;
        z-index: 555;
        color: white;
        bottom: 10px;
        right: 0;
        text-align: right;
    }
    .font-12{
        font-size: 12px;
    }
    .font-14{
        font-size: 14px;
    }
    .font-16{
        font-size: 16;
    }
    .img-hover{
        transition: transform 1s;
    }
    .img-hover:hover{
        transform: scale(1.1);
        border-radius:10px ;
        transition: transform .4s;
    }
}